# Ignore node_modules directories
**/node_modules/

# Ignore .env files
**/.env

# Ignore logs
**/logs/
*.log

# Ignore build artifacts
**/build/
**/dist/

# Ignore dependencies in backend and frontend folders
/backend/node_modules/
/frontend/node_modules/